<aside class="sidebar order-1 order-md-2">
    <div class="sidebar-body">
        <div class="input-group d-none d-md-flex">
            <div class="input-group-prepend"><span class="input-group-text"><i class="far fa-search"></i></span></div>
            <input type="text" id="search" class="form-control" placeholder="Search ..." autocomplete="off" />
        </div>
        <div id="searchList"></div>

        {{#post}}
            {{!-- Related Posts - In this series --}}
            {{#get "posts" include="url,title" filter="id:-{{comment_id}}+tag:{{primary_tag.slug}}" as |related|}}
            <div id="related-posts" class="posts-wrapper d-none d-md-block">
                <h3>In this series</h3>
                <ul class="post-links">
                {{#foreach related}}
                    <li><a href="{{url}}">{{title}}</a></li>
                {{/foreach}}
                </ul>
            </div>
            {{/get}}
        {{/post}}

        <div id="featured-posts" class="posts-wrapper d-none d-md-block">
            <h3>Featured Posts</h3>
            <div id="featuredList">
                <div class="text-center">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="posts-wrapper our-newsletter d-none d-md-block">
            <h3>Join our newsletter</h3>
            <div class="content">
				<p>
					<img src="{{asset "img/book.webp"}}" width="80" height="109" alt=".NET Web Application Logging Essentials">
					Sign up for our newsletter and receive a free copy of our book <strong>.NET Web Application Logging Essentials</strong>
				</p>
                <form method="post" action="https://elmah.us7.list-manage.com/subscribe/post?u=66fdd2122e968863d381a26e1&amp;id=e6194de6d8&amp;MMERGE3=blog-newsletter">
                    <div class="input-group mb-0">
                        <input type="email" class="form-control" placeholder="Enter your email" name="MERGE0" required="">
                        <input type="hidden" name="MMERGE3" value="blog-newsletter">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" id="newsletterButton">Submit</button>
                        </span>
                    </div>
                </form>
			</div>
        </div>

        <div class="posts-wrapper follow-box d-none d-md-block">
            <h3>Follow elmah.io</h3>
            <div class="content">
                <ul class="follow-list">
                    {{#if @site.twitter}}
                    <li class="social-link-twitter">
                        <a class="social-link" href="{{twitter_url}}" target="_blank" rel="noopener noreferrer" aria-label="Follow us on X (Twitter)">
                            <span class="fab x-twitter"></span>
                        </a>
                    </li>
                    {{/if}}
                    {{#if @site.facebook}}
                    <li class="social-link-facebook">
                        <a class="social-link" href="{{facebook_url}}" target="_blank" rel="noopener noreferrer" aria-label="Follow us on Facebook">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                    </li>
                    {{/if}}
                    <li class="social-link-linkedin">
                        <a class="social-link" href="https://www.linkedin.com/company/elmah-io/" target="_blank" rel="noopener noreferrer" aria-label="Follow us on LinkedIn">
                            <span class="fab fa-linkedin-in"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="blog-posts" class="posts-wrapper d-none d-md-block">
            <h3>Blog Posts</h3>
            <div id="postList">
                <div class="text-center">
                    <div class="spinner-grow spinner-grow-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid">
            <a id="show-all-posts" href="javascript:;" class="btn btn-light btn-block">Show all posts</a>
        </div>

        {{#post}}
        <div class="sticky-sidebar">
            <div id="blog-quote" class="posts-wrapper d-none d-md-block">
                <a href="https://elmah.io">
                	<div class="quote-symbol"><i class="fas fa-quote-left"></i></div>
                	<div class="quote-container">
                		<div class="main-quote">
                			<p>"What a great idea, ELMAH (Error Logging) for .NET in the cloud."</p>
                		</div>
                		<div class="author-quote">
                			<h4>Scott Hanselman</h4>
                			<h5>Principal Program Manager </br> at Microsoft</h5>
                			<img src="{{asset "img/scott-hanselman.webp"}}" width="80" height="80" alt="Scott Hanselman" />
                		</div>
                	</div>
                </a>
            </div>
			
			<div class="box-signup d-none d-md-block hide">
				<a class="btn btn-hg btn-primary btn-signup-shadow btn-signup-box text-center signUpFromSidebar" href="https://app.elmah.io/signup/" id="btn-signup-sidebar">
					<span class="signUpFromSidebar">Reduce Errors Now</span>
					<span class="info signUpFromSidebar">no credit card required</span>
				</a>
			</div>
        </div>
        {{/post}}
    </div>
</aside>
