<!DOCTYPE html>
<html ⚡>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8">

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{amp_ghost_head}}

    {{!-- Styles'n'Scripts --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style amp-custom>body,dl,h1,h2,h3,h4,h5,h6,ol,p,ul{text-rendering:geometricPrecision}amp-img,hr,img,legend,p code{border:0}pre,textarea{overflow:auto}.main-header,.post,.site-footer,sub,sup{position:relative}article,aside,details,figcaption,figure,footer,header,hr,main,menu,nav,section,summary{display:block}hr,table td,table th{border-top:#efefef 1px solid}body,html{max-height:100%;height:100%}dl dt,svg:not(:root){overflow:hidden}dl dd,dl dt{margin-bottom:1em}body,li li{margin:0}blockquote,hr{margin:1.75em 0}hr,legend,pre code,pre tt,td,th{padding:0}blockquote small,kbd{display:inline-block}a,table{background-color:transparent}mark,table th{color:#000}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{color:#0da58e}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,blockquote cite,optgroup,strong{font-weight:700}dfn{font-style:italic}mark{background:#fdffb6}small{font-size:80%}sub,sup{vertical-align:baseline;font-size:75%;line-height:0}sup{top:-.5em}sub{bottom:-.25em}figure{margin:1em 40px}hr{box-sizing:content-box;height:1px}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{margin:0;color:inherit;font:inherit}body,h1,h2,h3,h4,h5,h6{font-family:Roboto,sans-serif}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver}html{font-size:62.5%;-webkit-tap-highlight-color:transparent}body{color:#3a4145;background:#f5f5f5;letter-spacing:.01rem;font-size:1.8rem;line-height:1.75em}::-moz-selection{background:#d6edff}::selection{background:#d6edff}h1,h2,h3,h4,h5,h6{margin:0 0 .3em;color:#2e2e2e;line-height:1.15em}code,pre,tt{background:#f7fafb;font-family:Inconsolata,monospace,sans-serif}p code{padding:2px 4px;color:#c7254e;background-color:#f9f2f4}h1{text-indent:-2px;letter-spacing:-1px;font-size:2.6rem}h2{letter-spacing:0;font-size:2.4rem}h3{letter-spacing:-.6px;font-size:2.1rem}h4{font-size:1.9rem}h5,h6{font-size:1.8rem}a:hover{color:#111}dl,ol,p,ul{margin:0 0 2.5rem;font-size:1.5rem}ol,ul{padding-left:2em}ol ol,ol ul,ul ol,ul ul{margin:0 0 .4em;padding-left:2em}dl dt{float:left;clear:left;width:180px;text-align:right;text-overflow:ellipsis;white-space:nowrap;font-weight:700}dl dd{margin-left:200px}li{margin:.4em 0}blockquote{padding:5px 20px;margin:0 0 20px;border:0;border-left:5px solid #eee;background-color:#FFF6D5;border-left-color:#F3E3AA;text-align:left;box-sizing:border-box;-moz-box-sizing:border-box}pre,table{box-sizing:border-box;width:100%;-moz-box-sizing:border-box}blockquote p{margin:.8em 0;font-style:italic}blockquote small{margin:.8em 0 .8em 1.5em;color:#ccc;font-size:.9em}blockquote small:before{content:"\2014 \00A0"}blockquote cite a{font-weight:400}code,tt{padding:1px 3px;border:1px solid #e3edf3;border-radius:2px;white-space:pre-wrap;font-size:.85em}pre{margin:0 0 1.75em;padding:10px;border:1px solid #e3edf3;border-radius:3px;white-space:pre;font-size:.9em}pre code,pre tt{border:none;background:0 0;white-space:pre-wrap;font-size:inherit}kbd{margin-bottom:.4em;padding:1px 8px;border:1px solid #ccc;background:#f4f4f4;border-radius:4px;box-shadow:0 1px 0 rgba(0,0,0,.2),0 1px 0 0 #fff inset;color:#666;text-shadow:#fff 0 1px 0;font-size:.9em;font-weight:700}table{border-spacing:0;border-collapse:collapse;margin:1.75em 0;max-width:100%}table td,table th{padding:8px;vertical-align:top;text-align:left;line-height:20px}table caption+thead tr:first-child td,table caption+thead tr:first-child th,table colgroup+thead tr:first-child td,table colgroup+thead tr:first-child th,table thead:first-child tr:first-child td,table thead:first-child tr:first-child th{border-top:0}table tbody+tbody{border-top:#efefef 2px solid}table table table{background-color:#fff}table tbody>tr:nth-child(odd)>td,table tbody>tr:nth-child(odd)>th{background-color:#f6f6f6}table.plain tbody>tr:nth-child(odd)>td,table.plain tbody>tr:nth-child(odd)>th{background:0 0}.fluid-width-video-wrapper,amp-iframe,iframe{display:block;margin:1.75em 0}.fluid-width-video-wrapper amp-iframe,.fluid-width-video-wrapper iframe{margin:0}input,select,textarea{margin:0 0 5px;padding:6px 9px;width:260px;outline:0;border:1px solid #e7eef2;background:#fff;border-radius:4px;box-shadow:none;font-family:"Open Sans",sans-serif;font-size:1.6rem;line-height:1.4em;font-weight:100;-webkit-appearance:none}.blog-title a,.post-meta,.site-footer{font-family:Roboto,sans-serif}textarea{min-width:250px;min-height:80px;max-width:340px;width:100%;height:auto}input[type=date]:focus,input[type=datetime-local]:focus,input[type=datetime]:focus,input[type=email]:focus,input[type=month]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=time]:focus,input[type=url]:focus,input[type=week]:focus,textarea:focus{outline:0;border:1px solid #bbc7cc;background:#fff}select{width:270px;height:30px;line-height:30px}.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}.clearfix{zoom:1}.main-header{display:table;overflow:hidden;box-sizing:border-box;margin-bottom:25px;border-bottom:3px solid #0da58e;width:100%;height:60px;background:center center no-repeat #444;background-size:cover;text-align:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.content{background:#fff;padding-top:15px;box-shadow:0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24),0 0 3px rgba(0,0,0,.05)}.blog-title,.content{margin:auto;max-width:600px}.blog-title a{display:inline-block;padding-right:10px;padding-left:10px;height:60px;color:#fff;text-decoration:none;font-size:16px;line-height:60px;font-weight:500}.blog-title .amp-elmah-logo{display:inline-block;width:35px;vertical-align:middle}.blog-title .amp-open-sidebar{float:right;margin:10px 0}.post{margin-top:0;margin-right:20px;margin-left:20px;padding-bottom:0;max-width:100%;border-bottom:#ebf2f6 1px solid;word-wrap:break-word;font-size:.95em;line-height:1.65em}.post-header{margin-bottom:1.5rem}.post-title-wrapper{margin:0 -20px;border-bottom:1px solid #ddd;padding-bottom:15px}.post-title{margin:0 20px}.post-title a{text-decoration:none}.post-meta{display:block;margin:5px 0 0;color:#9eabb3;font-size:1.3rem;line-height:2.2rem;text-align:right}.post-meta a{color:#0da58e;text-decoration:none}.post-meta a:hover{text-decoration:underline}.footnotes p a:last-child,.site-footer a,amp-sidebar ul li a{text-decoration:none}.post-meta .author{margin:0;font-size:1.3rem;line-height:1.3em;display:inline-block}.post-date{display:inline-block;white-space:nowrap;font-size:1.2rem;line-height:1.2em}.post-image{margin:0;padding-top:3rem;padding-bottom:30px;border-top:1px #E8E8E8 solid}.post-content amp-anim,.post-content amp-img{position:relative;left:50%;display:block;padding:0;min-width:0;max-width:112%;width:calc(100% + 32px);height:auto;transform:translateX(-50%);-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%)}.copyright,.poweredby{display:block;width:45%}.footnotes{font-size:1.3rem;line-height:1.6em;font-style:italic}.footnotes li{margin:.6rem 0}.footnotes p{margin:0}.site-footer{margin:0 auto 20px;padding:1rem 15px;max-width:600px;color:rgba(0,0,0,.5);font-size:1.1rem;line-height:1.75em}.site-footer a{color:rgba(0,0,0,.5);font-weight:700}.site-footer a:hover{border-bottom:#bbc7cc 1px solid}.copyright{float:left}amp-sidebar{background:#222;width:250px;padding:19px;box-sizing:border-box}amp-sidebar ul{margin:0;padding:0;list-style:none;text-align:center}amp-sidebar ul li a{color:#fff}amp-sidebar ul li a:hover{color:#999}@media screen and (max-width:600px){.blog-title,.content{margin:0 15px}}</style>

    {{!-- The AMP boilerplate --}}
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
		{{!-- amp_components helper renders the necessary script tags for AMP depending on the HTML in the content --}}
    {{amp_components}}

</head>

<body class="amp-template">
	<amp-sidebar id="sidebar" layout="nodisplay" side="right">
		<amp-img class="amp-close-image" src="{{asset "img/close.png"}}" width="20" height="20" alt="close sidebar" on="tap:sidebar.close" role="button" tabindex="0"></amp-img>
	  	<ul>
	    	<li><a href="https://elmah.io/features/">Features</a></li>
	    	<li><a href="https://elmah.io/about/">About</a></li>
	    	<li><a href="https://elmah.io/pricing/">Pricing</a></li>
	    	<li><a href="https://docs.elmah.io/">Docs</a></li>
	    	<li><a href="https://blog.elmah.io/">Blog</a></li>
	  	</ul>
	</amp-sidebar>

    {{#post}}
    <header class="main-header">
        <nav class="blog-title">
        	<amp-img class="amp-elmah-logo" src="{{asset "img/logo.png"}}" alt="elmah.io" width="35" height="25.6" layout="fixed"></amp-img>
            <a href="{{@blog.url}}">{{@blog.title}}</a>
            <amp-img class="amp-open-sidebar" src="{{asset "img/hamburger.png"}}" width="40" height="40" alt="open sidebar" on="tap:sidebar.open" role="button" tabindex="1"></amp-img>
        </nav>
    </header>

    <main class="content" role="main">
        <article class="post">

            <header class="post-header">
            	<section class="post-title-wrapper">
                	<h1 class="post-title">{{title}}</h1>
                </section>
                <section class="post-meta">
                    {{#primary_author}}
                    <p class="author">Written by <a href="{{url}}">{{name}}</a></p>,
                    {{/primary_author}}
                    <time class="post-date" datetime="{{date format="MMMM DD, YYYY"}}">{{date format="MMMM DD, YYYY"}}</time>
                </section>
            </header>

            <section class="post-content">

                {{amp_content}}

            </section>

        </article>
    </main>
    {{/post}}
    <footer class="site-footer clearfix">
        <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
    </footer>
</body>
</html>
