<!doctype html>
<html lang="en">
    <head>

        {{!-- Document Settings --}}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#0da58e">

        {{!-- Base Meta --}}
        <title>{{meta_title}}</title>
        <meta name="HandheldFriendly" content="True" />

        {{!-- Styles'n'Scripts --}}
        <link rel="preload" href="/assets/fonts/font-awesome/webfonts/fa-brands-400.woff2" as="font" crossorigin />
        <link rel="preload" href="/assets/fonts/font-awesome/webfonts/fa-light-300.woff2" as="font" crossorigin />
        <link rel="preload" href="/assets/fonts/font-awesome/webfonts/fa-regular-400.woff2" as="font" crossorigin />
        <link rel="preload" href="/assets/fonts/font-awesome/webfonts/fa-solid-900.woff2" as="font" crossorigin />
    
        <link href="{{asset "css/style.min.css" }}" rel="stylesheet">

        <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
        {{!-- This tag outputs SEO meta+structured data and other important settings --}}
        {{ghost_head}}

    </head>

    <body class="{{body_class}}">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" href="https://elmah.io/">
                    <img src="{{asset "img/logo.png"}}" width="30" height="22" alt="elmah.io">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/features/">Features</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/pricing/">Pricing</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/tour/">Tour</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/about/">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://docs.elmah.io/">Docs</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://blog.elmah.io/">Blog</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-btn">
                        <li class="nav-item mr-md-2 mb-2 mb-md-0"><a class="btn btn-outline-light" href="https://app.elmah.io/login/">Login</a></li>
                    	<li class="nav-item"><a class="btn btn-signup-trial" href="https://app.elmah.io/signup/" id="btn-trial-header">Free Trial</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="section-hero">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <div>
                            <div class="hero-title">Reduce bugs with elmah.io</div>
                            <div class="hero-description">When your website feels sick, we've got your back!</div>
                        </div>
                    </div>
                    <div class="col text-right d-none d-lg-block">
                        <a class="btn btn-hg btn-primary btn-signup-shadow text-center signUpFromHero" href="https://app.elmah.io/signup/" id="btn-signup-hero">
                            <span class="signUpFromHero">Reduce Errors Now</span>
                            <span class="info signUpFromHero">no credit card required</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer>
            <div class="pre-footer">
                <div class="container">
                    <div class="company-logo">
                        <img class="img-fluid" src="{{asset "img/elmahio.svg"}}" width="222" height="138" alt="elmah.io">
                    </div>
                    <a href="https://app.elmah.io/signup/" class="btn btn-primary float-right signUpFromFooter" id="btn-signup-footer"><span class="signUpFromFooter">Sign Up Now</span><span class="info signUpFromFooter">no credit card required</span></a>
                </div>
            </div>
            <div class="links">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5>Product</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/features/">Features</a></li>
                                <li><a href="https://elmah.io/pricing/">Pricing</a></li>
                                <li><a href="https://elmah.io/tour/">Tour</a></li>
								<li><a href="https://elmah.io/features/appstore/">App Store</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Company</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/about/">About</a></li>
                                <li><a href="https://elmah.io/contact/">Contact</a></li>
                                <li><a href="https://blog.elmah.io/">Blog</a></li>
                                <li><a href="https://docs.elmah.io/">Docs</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Learn</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/customer-stories/">Customer Stories</a></li>
                                <li><a href="https://elmah.io/for-ctos/">For CEOs and CTOs</a></li>
                                <li><a href="https://elmah.io/alternatives/">Alternatives</a></li>
                                <li><a href="https://elmah.io/api/v3/">API</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Guides</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/devops/">.NET DevOps</a></li>
                                <li><a href="https://elmah.io/microservices/">.NET Microservices</a></li>
                                <li><a href="https://elmah.io/cloud-logging/">.NET Cloud Logging</a></li>
                                <li><a href="https://elmah.io/features/asp-net-core/">ASP.NET Core Error Logging</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Online Tools</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/tools/config-validator/">Web.config Validator</a></li>
                                <li><a href="https://elmah.io/tools/stack-trace-formatter/">Stack Trace Formatter</a></li>
                                <li><a href="https://elmah.io/tools/webconfig-transformation-tester/">Web.config Transform Tester</a></li>
								<li><a href="https://elmah.io/tools/">More Free Tools</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-5 col-md-12 order-2 order-lg-1">
                            <div class="text-center text-lg-left">
                                <p>2013 - {{date format="YYYY"}} @ elmah.io. All Rights Reserved.</p>
                                <p><a href="https://elmah.io/legal/terms-of-use/">Terms of Use</a> | <a href="https://elmah.io/legal/privacy-policy/">Privacy Policy</a> | <a href="https://elmah.io/legal/refund-policy/">Refund Policy</a></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 order-3 order-lg-1">
                            <ul class="list-unstyled social mb-0">
                                <li class="list-inline-item"><a href="https://twitter.com/elmah_io"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://facebook.com/elmahdotio"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/company/elmah-io/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-12 order-1 order-lg-2">
                            <div class="footer-badges text-center text-lg-right">
                                <a href="https://elmah.io/security/"><img src="{{asset "img/pcicompliant.png"}}" width="67" height="40" draggable="false" alt="PCI Compliant" /></a>
                                <a href="https://elmah.io/security/"><img src="{{asset "img/gdpr.png"}}" width="106" height="40" draggable="false" alt="GDPR Compliant" /></a>
                                <a href="https://elmah.io/security/"><img src="{{asset "img/shieldssl.png"}}" width="102" height="40" draggable="false" alt="Alpha SSL" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {{!-- elmah.io.javascript logger --}}
        {{!-- <script>
            function loadElmahIoJavascript() {
                var script = document.createElement("script");
                script.src = "https://cdn.jsdelivr.net/gh/elmahio/elmah.io.javascript@latest/dist/elmahio.min.js?apiKey=a789ddece0bd47fe83390b702f5713a9&logId=33b5a5cd-27ff-4898-9f87-e9d41cc70253";
                document.body.append(script);
            }
            if (window.location.hostname === "blog.elmah.io") { loadElmahIoJavascript(); }
        </script> --}}

        {{!-- jQuery + Bootstrap JS + Scripts --}}
        <script src="https://cdn.jsdelivr.net/gh/elmahio/elmah.io.javascript@latest/dist/elmahio.min.js"></script>
        <script type="text/javascript">
            new Elmahio({
                apiKey: 'b3f3b2f3fb4e4daabe243c8004b6f785',
                logId: '33b5a5cd-27ff-4898-9f87-e9d41cc70253',
                filter: function(msg) {
                    try {
                        if(msg && msg.title) {
                            return (msg.title.toLowerCase().indexOf("ResizeObserver loop limit exceeded".toLowerCase()) >= 0 || msg.title.toLowerCase().indexOf("Identifier 'originalPrompt' has already been declared".toLowerCase()) >= 0);
                        }
                        return false;
                    } catch (e) {
                        return false;
                    }
                }
            });
        </script>

        <script src="{{asset "js/main.min.js" }}"></script>

        {{#post}}
        {{#if featured}}
        <!-- move the script here -->
        {{/if}}
        <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
        <script>
            var mcForms = ["e6194de6d8"],
                random = mcForms[Math.floor(Math.random() * mcForms.length)];
            require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us7.list-manage.com","uuid":"66fdd2122e968863d381a26e1","lid":random}); });
        </script>
        <script type="text/javascript">
			window.onload=function(){
				if(!(/^(.*;)?\s*MCPopupClosed\s*=/.test(document.cookie))) {
                    var iframe = $('iframe[data-dojo-attach-point="iframeModalContainer"]');
                    $(iframe).contents().find('form').append('<input type="hidden" name="MMERGE3" value="blog-popup">');
                    $(iframe).contents().find('form .content__button .button').attr('id', 'buttonNewsletterPopup');
                }
			};
        </script>
        {{/post}}

        {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
        {{ghost_foot}}
    </body>
</html>
