<!doctype html>
<html lang="en">
    <head>

        {{!-- Document Settings --}}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{!-- Base Meta --}}
        <title>{{meta_title}} | elmah.io</title>
        <meta name="HandheldFriendly" content="True" />

        {{!-- Styles'n'Scripts --}}
        <link href="{{asset "css/bootstrap.min.css" }}" rel="stylesheet">
        <link href="{{asset "fonts/font-awesome/css/all.min.css" }}" rel="stylesheet">
        <link href="{{asset "css/highlight.css" }}" rel="stylesheet">
        <link href="{{asset "css/jquery.fancybox.min.css" }}" rel="stylesheet">
        <link href="{{asset "css/style.css" }}" rel="stylesheet">

        {{!-- This tag outputs SEO meta+structured data and other important settings --}}
        {{ghost_head}}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WKDV74');</script>
        <!-- End Google Tag Manager -->

    </head>

    <body class="{{body_class}}">

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKDV74"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" href="https://elmah.io/">
                    <img src="{{asset "img/logo.png"}}" alt="elmah.io">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/features/">Features</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/pricing/">Pricing</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/tour/">Tour</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://elmah.io/about/">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://docs.elmah.io/">Docs</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://blog.elmah.io/">Blog</a></li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-btn">
                        <li class="nav-item mr-md-2 mb-2 mb-md-0"><a class="btn btn-outline-light" href="https://app.elmah.io/login/">Login</a></li>
                    	<li class="nav-item"><a class="btn btn-signup-trial" href="https://app.elmah.io/signup/">Free Trial</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="section-hero">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <div>
                            <h2>Reduce bugs with elmah.io</h2>
                            <h4>When your website feels sick, we've got your back!</h4>
                        </div>
                    </div>
                    <div class="col text-right d-none d-lg-block">
                        <a class="btn btn-hg btn-primary btn-signup-shadow text-center" href="https://app.elmah.io/signup/">
                            <span>Reduce Errors Now</span>
                            <span class="info">no credit card required</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <footer>
            <div class="pre-footer">
                <div class="container">
                    <div class="company-logo">
                        <img class="img-fluid" src="{{asset "img/elmahio.png"}}" alt="elmah.io">
                    </div>
                    <a href="https://app.elmah.io/signup/" class="btn btn-primary float-right"><span>Sign Up Now</span><span class="info">no credit card required</span></a>
                </div>
            </div>
            <div class="links">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5>Product</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/features/">Features</a></li>
                                <li><a href="https://elmah.io/pricing/">Pricing</a></li>
                                <li><a href="https://elmah.io/tour/">Tour</a></li>
								<li><a href="https://elmah.io/features/appstore/">App Store</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Company</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/about/">About</a></li>
                                <li><a href="https://elmah.io/contact/">Contact</a></li>
                                <li><a href="https://blog.elmah.io/">Blog</a></li>
                                <li><a href="https://docs.elmah.io/">Docs</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Learn</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/customer-stories/">Customer Stories</a></li>
                                <li><a href="https://elmah.io/for-ctos/">For CEOs and CTOs</a></li>
                                <li><a href="https://elmah.io/goodiebag/">Goodie Bag</a></li>
                                <li><a href="https://elmah.io/api/">API</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Guides</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/devops/">.NET DevOps</a></li>
                                <li><a href="https://elmah.io/microservices/">.NET Microservices</a></li>
                                <li><a href="https://elmah.io/cloud-logging/">.NET Cloud Logging</a></li>
                                <li><a href="https://elmah.io/features/asp-net-core/">ASP.NET Core Error Logging</a></li>
                            </ul>
                        </div>
                        <div class="col">
                            <h5>Online Tools</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://elmah.io/tools/configvalidator/">Web.config Validator</a></li>
                                <li><a href="https://elmah.io/tools/stack-trace-formatter/">Stack Trace Formatter</a></li>
                                <li><a href="https://elmah.io/tools/webconfig-transformation-tester/">Web.config Transform Tester</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="row no-gutters">
                        <div class="col-lg-5 col-md-12 order-2 order-lg-1">
                            <div class="text-center text-lg-left">
                                <p>2013 - {{date format="YYYY"}} @ elmah.io. All Rights Reserved.</p>
                                <p><a href="https://elmah.io/legal/terms-of-use/">Terms of Use</a> | <a href="https://elmah.io/legal/privacy-policy/">Privacy Policy</a> | <a href="https://elmah.io/legal/refund-policy/">Refund Policy</a></p>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-12 order-3 order-lg-1">
                            <ul class="list-unstyled social mb-0">
                                <li class="list-inline-item"><a href="https://twitter.com/elmah_io"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="https://facebook.com/elmahdotio"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.linkedin.com/company/elmah-io/"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-12 order-1 order-lg-2">
                            <div class="footer-badges text-center text-lg-right">
                                <a href="https://elmah.io/security"><img src="{{asset "img/pcicompliant.png"}}" draggable="false" alt="PCI Compliant" /></a>
                                <a href="https://elmah.io/security"><img src="{{asset "img/gdpr.png"}}" draggable="false" alt="GDPR Compliant" /></a>
                                <a href="https://elmah.io/security"><img src="{{asset "img/shieldssl.png"}}" draggable="false" alt="Alpha SSL" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {{!-- jQuery + Bootstrap JS + Scripts --}}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{asset "js/elmahio.min.js?apiKey=a789ddece0bd47fe83390b702f5713a9&logId=33b5a5cd-27ff-4898-9f87-e9d41cc70253" }}"></script>
        <script src="{{asset "js/bootstrap.min.js" }}"></script>
        <script src="{{asset "js/highlight.pack.js" }}"></script>
        <script src="{{asset "js/fuse.min.js" }}"></script>
        <script src="{{asset "js/scrollProgress.js" }}"></script>
        <script src="{{asset "js/jquery.fancybox.min.js" }}"></script>
        <script src="{{asset "js/main.js" }}"></script>

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58986481b57e307b"></script>

        {{#post}}
        {{#if featured}}
        <!-- move the script here -->
        {{/if}}
        <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
        <script>
            var mcForms = ["e6194de6d8"],
                random = mcForms[Math.floor(Math.random() * mcForms.length)];
            require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us7.list-manage.com","uuid":"66fdd2122e968863d381a26e1","lid":random}); });
        </script>
        <script type="text/javascript">
			window.onload=function(){
				if(!(/^(.*;)?\s*MCPopupClosed\s*=/.test(document.cookie))) {
                    var iframe = $('iframe[data-dojo-attach-point="iframeModalContainer"]');
                    $(iframe).contents().find('form').append('<input type="hidden" name="MMERGE3" value="blog-popup">');
                }
			};
        </script>
        {{/post}}

        {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
        {{ghost_foot}}

        <script>
			window.intercomSettings = {
				app_id: "i2hhgdvj"
			};
		</script>
		<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/i2hhgdvj';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    </body>
</html>
