{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
<div class="container mt-5 mb-5">
    <div class="row">

		{{> "sidebar"}}

        <article class="col main-content order-2 order-md-1">
			<div class="navbar breadcrumb-bar">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item breadcrumb-first">
							<a href="https://blog.elmah.io/">
								<h1>elmah.io blog</h1>
							</a>
						</li>
						<li class="breadcrumb-item">Latest Posts</li>
					</ol>
				</nav>
			</div>

			<div class="index-content-body">
				<div class="card-deck">
					{{!-- Posts here --}}
					{{#foreach posts}}
					<div class="card">
						<div class="card-header">
							<div class="post-title">
								<a href="{{ url }}">{{title}}</a>
							</div>
						</div>
						<div class="card-body">
							<div class="post-excerpt">
								{{#if meta_description}}
								<p>{{meta_description}}</p>
								{{else}}
								<p>{{excerpt}} ...</p>
								{{/if}}
							</div>
						</div>
						<div class="card-footer">
							<div class="post-card-meta">
								<div class="post-author">
									{{#primary_author}}
									<img src="{{profile_image}}" alt="{{name}}'s Picture">
									<span class="author">{{name}}</span>
									{{/primary_author}}
									<span class="date">{{date published_at format="MMMM DD, YYYY"}}</span>
								</div>
							</div>
						</div>
					</div>
					{{/foreach}}
				</div>
			</div>
        </article>

    </div>
</div>
