{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="progress-bar"></div>

{{!-- The main content area --}}

<div class="container mt-5 mb-5">
    <div class="row-wrapper">

		{{> "sidebar"}}

        <article class="col main-content order-2 order-md-1" data-url="{{url absolute="true"}}">
            <div class="main-content-body">
            	<div class="docs-box docs-post">
					{{#post}}

					<h1>{{{title}}}</h1>

					<div class="inline_share_toolbox">
						<a class="share-facebook" title="Share to Facebook" target="_blank" href="https://www.facebook.com/sharer.php?u={{url absolute='true'}}"><i class="fab fa-facebook-f"></i></a>
						<a class="share-twitter" title="Share to X" target="_blank" href="https://x.com/share?text={{encode title}}&url={{url absolute='true'}}"><i class="fab x-twitter"></i></a>
						<a class="share-linkedin" title="Share to LinkedIn" target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{url absolute='true'}}"><i class="fab fa-linkedin-in"></i></a>
						<a class="share-email" title="Share to Email" target="_blank" href="mailto:?subject={{encode title}}&body={{url absolute='true'}}"><i class="fas fa-envelope"></i></a>
					</div>

					<div class="post-author">Written by {{authors}}, {{date published_at format="MMMM DD, YYYY"}}</div>

					{{content}}

					<div class="row align-items-start row-eq-height posts-navigation">
						<div class="col previous-nav">
							{{#prev_post}}
							<a href="{{url}}">
								<div>
									<i class="far fa-arrow-left"></i>
									<span>Previous post</span>
								</div>
								<div class="article">{{{title}}}</div>
							</a>
							{{/prev_post}}
						</div>
						<div class="col next-nav">
							{{#next_post}}
							<a href="{{url}}">
								<div>
									<span>Next post</span>
									<i class="far fa-arrow-right"></i>
								</div>
								<div class="article">{{{title}}}</div>
							</a>
							{{/next_post}}
						</div>
					</div>

					{{!-- <div class="section section-features">
						<div class="container p-0">
							<div class="section-body">
								<div class="row d-none d-sm-block">
									<div class="col p-0">
										<img class="img-fluid no-flexbox" src="{{asset "img/features-image.png"}}" alt="Features steps">
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<img class="img-fluid d-inline-block d-sm-none no-flexbox" src="{{asset "img/features-step-1.png"}}" alt="We monitor your websites">
										<h3>We monitor your websites</h3>
										<p>We monitor your websites for crashes and availability. This helps you get an overview of the quality of your applications and to spot trends in your releases.</p>
									</div>
									<div class="col-sm-4">
										<img class="img-fluid d-inline-block d-sm-none no-flexbox" src="{{asset "img/features-step-2.png"}}" alt="We notify you">
										<h3>We notify you</h3>
										<p>We notify you when errors starts happening using Slack, Microsoft Teams, mail or other forms of communication to help you react to errors before your users do.</p>
									</div>
									<div class="col-sm-4">
										<img class="img-fluid d-inline-block d-sm-none no-flexbox" src="{{asset "img/features-step-3.png"}}" alt="We help you fix bugs">
										<h3>We help you fix bugs</h3>
										<p>We help you fix bugs quickly by combining error diagnostic information with innovative quick fixes and answers from Stack Overflow and social media.</p>
									</div>
								</div>

							</div>
						</div>
					</div> --}}

					<div class="section section-elmahio">
						<div class="container p-0">
							<div class="section-body">
								<div class="row">
									<div class="col">
										<h3><a href="https://elmah.io" target="_blank">elmah.io</a>: Error logging and Uptime Monitoring for your web apps</h3>
										<p class="mb-0">This blog post is brought to you by elmah.io. elmah.io is error logging, uptime monitoring, deployment tracking, and service heartbeats for your .NET and JavaScript applications. Stop relying on your users to notify you when something is wrong or dig through hundreds of megabytes of log files spread across servers. With elmah.io, we store all of your log messages, notify you through popular channels like email, Slack, and Microsoft Teams, and help you fix errors fast.</p>
									</div>
								</div>
								<div class="row">
									<div class="col p-0">
										<a href="https://elmah.io" target="_blank">
											<img class="img-fluid no-flexbox mt-2" src="{{asset "img/elmahio-app-banner.webp"}}" width="840" height="300" alt="elmah.io app banner" />
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<p class="text-center mb-0">
						<a href="https://app.elmah.io/signup/" class="btn btn-lg btn-primary d-block signUpFromArticleEnd" id="btn-signup-article-end">
							<span class="d-none d-sm-block signUpFromArticleEnd">See how we can help you monitor your website for crashes</span>
							<span class="d-block d-sm-none signUpFromArticleEnd">Monitor your website</span>
						</a>
					</p>

					{{/post}}
				</div>
			</div>

			<div class="row mt-3">
				<div class="col d-flex justify-content-center">
					<p class="mb-0 copyright"><a href="https://blog.elmah.io/copyright/" target="_blank">Copyright</a></p>
					<p class="text-muted mb-0 mx-2">&bull;</p>
					<p class="mb-0 copyright"><a href="https://blog.elmah.io/guest-posts/" target="_blank">Guest posts</a></p>
				</div>
			</div>
		</article>

	</div>
</div>
