<!DOCTYPE html>
<html lang="en">
  <head>

    {{!-- Document Settings --}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- Base Meta --}}
    <title>{{meta_title}} | elmah.io</title>
    <meta name="HandheldFriendly" content="True" />

    {{!-- Styles'n'Scripts --}}
    <link href="{{asset "css/bootstrap.min.css" }}" rel="stylesheet">
    <link href="{{asset "fonts/font-awesome/css/font-awesome.min.css" }}" rel="stylesheet">
    <link href="{{asset "css/highlight.css" }}" rel="stylesheet">
    <link href="{{asset "css/helper.css" }}" rel="stylesheet">
    <link href="{{asset "css/elmah.css" }}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WKDV74');</script>
    <!-- End Google Tag Manager -->

  </head>
  <body class="{{body_class}}">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKDV74"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="headercontainer">
      <div class="container">
        <div class="navbar-header">
          <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://elmah.io/">
            <img src="{{asset "img/logo.png"}}" alt="elmah.io" />
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a href="https://elmah.io/features/" id="NavFeatures">Features</a></li>
            <li><a href="https://elmah.io/about/" id="NavAbout">About</a></li>
            <li><a href="https://elmah.io/pricing/" id="NavPricing">Pricing</a></li>
            <li><a href="https://docs.elmah.io/" id="NavDocs">Docs</a></li>
            <li><a href="https://blog.elmah.io/" id="NavBlog">Blog</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="visible-xs">
              <a href="https://elmah.io/authentication/redirect/Twitter" class="pull-left"><span class="fa fa-twitter icon-2x"></span></a>
              <a href="https://elmah.io/authentication/redirect/Facebook" class="pull-left"><span class="fa fa-facebook icon-2x"></span></a>
              <a href="https://elmah.io/authentication/redirect/Google" class="pull-left"><span class="fa fa-google-plus icon-2x"></span></a>
              <a href="https://elmah.io/authentication/redirect/windowslive" class="pull-left"><span class="fa fa-windows icon-2x"></span></a>
            </li>
            <li class="hidden-xs"><span class="navbar-text text-muted">Sign in:</span></li>
            <li class="hidden-xs"><a href="https://elmah.io/authentication/redirect/Twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="hidden-xs"><a href="https://elmah.io/authentication/redirect/Facebook"><span class="fa fa-facebook"></span></a></li>
            <li class="hidden-xs"><a href="https://elmah.io/authentication/redirect/Google"><span class="fa fa-google-plus"></span></a></li>
            <li class="hidden-xs"><a href="https://elmah.io/authentication/redirect/windowslive"><span class="fa fa-windows"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="section-hero">
      <div class="container">
        <div class="row">
          <div class="row-md-height">
            <div class="col-md-6 col-md-height vcenter">
              <div>
                <h2>Reduce bugs with elmah.io</h2>
                <h4>When your website feels sick, we've got your back!</h4>
              </div>
            </div>
            <div class="col-md-6 col-md-height vcenter hidden-xs hidden-sm text-right">
              <a class="text-center btn btn-hg btn-primary btn-signup-shadow" href="https://elmah.io/?utm_source=blogheadercta&amp;utm_medium=blog&amp;utm_campaign=blogheadercta">No credit card required - sign up now <span class="fa fa-chevron-right"></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-wrapper">

      {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
      {{{body}}}

      <div class="btn-signup-shadow-footer">
        <a href="https://elmah.io/pricing/?utm_source=blogfootercta&amp;utm_medium=blog&amp;utm_campaign=blogfootercta" class="text-center btn btn-hg btn-primary btn-signup-shadow">No credit card required - Sign up now <span class="fa fa-chevron-right"></span></a>
      </div>

      {{!-- The footer at the very bottom of the screen --}}
      <footer class="section">
        <div class="container">
          <div class="row">
             <div class="col-sm-2">
                <h5>Core</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="https://elmah.io/features/">Features</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/pricing/">Pricing</a> | <a href="https://elmah.io/sponsorship/">Sponsorship</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/about/">About</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/contact/">Contact</a>
                   </li>
                </ul>
             </div>
             <div class="col-sm-2">
                <h5>More</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="https://elmah.io/customer-stories/">Customer Stories</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/for-ctos/">For CEOs and CTOs</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/goodiebag/">Goodie Bag</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/tools/">Free Tools</a>
                   </li>
                </ul>
             </div>
             <div class="col-sm-2">
                <h5>Help</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="https://elmah.io/api">API</a>
                   </li>
                   <li>
                      <a href="https://blog.elmah.io/">Blog</a>
                   </li>
                   <li>
                      <a href="https://docs.elmah.io/">Docs</a>
                   </li>
                   <li>
                      <a href="https://headwayapp.co/elmah-io-changelog" rel="noopener noreferrer" target="_blank">Changelog</a>
                   </li>
                </ul>
             </div>
             <div class="col-sm-2">
                <h5>Social</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="https://twitter.com/elmah_io" target="_blank" rel="noopener noreferrer">Twitter</a>
                   </li>
                   <li>
                      <a href="https://facebook.com/elmahdotio" target="_blank" rel="noopener noreferrer">Facebook</a>
                   </li>
                   <li>
                      <a href="https://plus.google.com/+ElmahIoPlus" target="_blank" rel="noopener noreferrer">Google Plus</a>
                   </li>
                   <li>
                      <a href="https://www.linkedin.com/company/5354798" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                   </li>
                </ul>
             </div>
             <div class="col-sm-2">
                <h5>Guides</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="https://elmah.io/devops/">.NET DevOps</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/microservices/">.NET Microservices</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/cloud-logging/">.NET Cloud Logging</a>
                   </li>
                </ul>
             </div>
             <div class="col-sm-2">
                <h5>Legal</h5>
                <ul class="list-unstyled">
                   <li>
                      <a href="https://elmah.io/privacypolicy/">Privacy Policy</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/termsandconditions/">Terms and Conditions</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/termsofuse/">Terms of Use</a>
                   </li>
                   <li>
                      <a href="https://elmah.io/refundpolicy/">Refund Policy</a>
                   </li>
                </ul>
             </div>
          </div>
        </div>
      </footer>

    </div>

    {{!-- jQuery + Bootstrap JS + Scripts --}}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{asset "js/bootstrap.min.js" }}"></script>
    <script src="{{asset "js/highlight.pack.js" }}"></script>
    <script src="{{asset "js/fuse.min.js" }}"></script>
    <script src="{{asset "js/main.js" }}"></script>

    <script>
      window.intercomSettings = {
        app_id: "i2hhgdvj"
      };
    </script>
    <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/i2hhgdvj';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58986481b57e307b"></script>

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}
  </body>
</html>
